*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #BCE183;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    width: 100%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    min-height: 100vh;
}

.h-100vh {
    height: 80vh;
}

.nav-logo img {
    width: 100px;
    cursor: pointer;
}

.col-padding {
    padding: 0px;
}

.img-col {
    width: 85%;
}

.fs-custom {
    font-size: 60px;
}

.text-custom {
    width: 75%;
    margin-left: 25px;
}

.bg-custom {
    background-image: linear-gradient(to right, #64E8DE, #8a64e8);
}

.logo-section {
    width: 80px;
}

.logo-footer {
    width: 100px;
}

.fs-custom__footer {
    font-size: 10px;
    text-align: right;
}

.li-custom__footer li {
    list-style: none;
    font-size: 10px;
    padding: 0 10px;
    text-align: right
}

.li-custom__footer li:last-child {
    padding-left: 10px;
    padding-right: 0;
}

.col-custom__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p-custom__footer {
    margin-top: 40px;
    padding: 0 250px;
    padding-bottom: 10px;
    font-size: 8px;
}

.p-custom__footer-1 {
    display: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 8px;
    text-align: left;
}

.fw-custom {
    letter-spacing: 10px;
}

.logo-cus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--green);
    margin: 0 auto;
}

.fa-mobile-alt,
.fa-chart-bar,
.fa-nutritionix,
.fa-prescription-bottle {
    color: #000;
    font-size: 40px;
    top: 25%;
}

.container-custom {
    padding: 0 100px;
}

.h1-section-custom {
    margin-top: 10px;
    font-size: 30px;
    width: 75%;
}

.step-custom {
    font-size: 22px;
    font-weight: 600;
}

.hr-custom {
    margin-top: -10px;
    width: 15%;
    background-color: #7ab91b;
    border: 2px solid #7ab91b;
    border-radius: 30px;
}

.hr-name {
    margin: 0 auto;
    margin-top: 10px;
}

.p-step-custom {
    width: 80%;
}

@media only screen and (max-width: 1200px) {
    .img-col {
        width: 90%;
    }
    .fs-custom {
        font-size: 40px;
    }
    .text-custom {
        width: 80%;
        text-align: center;
    }
    .h-100vh {
        height: 60vh;
    }
    .logo-footer {
        display: inline;
        width: 80px;
    }
    .p-custom__footer {
        display: none;
        margin-top: 30px;
        padding: 0px;
        font-size: 8px;
        text-align: center;
        margin: 0 auto;
    }
    .p-custom__footer-1 {
        display: inline;
        padding: 0 10px 10px;
        text-align: center;
        margin: 0 auto;
    }
    .container-custom {
        padding: 2%;
    }
    .h1-section-custom {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 27px;
        width: 100%;
        text-align: center;
    }
    .hr-custom {
        width: 20%;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .step-custom {
        text-align: center;
    }
    .hr-name {
        margin: 0 auto;
        margin-top: 10px;
    }
    .p-step-custom {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .img-col {
        width: 100%;
    }
    .fs-custom {
        font-size: 40px;
    }
    .text-custom {
        width: 80%;
        text-align: center;
    }
    .h-100vh {
        height: 60vh;
    }
    .logo-footer {
        display: none;
    }
    .p-custom__footer {
        display: none;
        margin-top: 30px;
        padding: 0px;
        font-size: 8px;
        text-align: left;
    }
    .p-custom__footer-1 {
        display: inline;
        padding: 0 10px 10px;
        text-align: center;
    }
    .container-custom {
        padding: 2%;
    }
    .h1-section-custom {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 27px;
        width: 100%;
        text-align: center;
    }
    .hr-custom {
        width: 20%;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .step-custom {
        text-align: center;
    }
    .hr-name {
        margin: 0 auto;
        margin-top: 10px;
    }
    .p-step-custom {
        text-align: center;
        width: 100%;
    }
}